.Témoignages{
    background-color: rgb(215, 198, 224);
    margin-bottom: -18px;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 80px;
}

.Témoignages{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.milieu{
    display: flex;
    gap: 50px;
    align-items: center;
    text-align: center;
}

.icone{
    display: flex;
    gap: 10px;
    align-items: center;
    text-align: center;
    margin-left: 250px;
}

.notraicone{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: black;
    background-image: url(../image/images.jpg);
    background-size: cover;
}
.samps{
    color: black;
    font-weight: bold;
    font-size: 15px;
}






.Contactez-nous{
    background-color: white;
    /*padding-left: 80px;*/
    margin-left: -50px;
    padding-right: 80px;
    display: flex;
    padding-top: 50px;
}

.imour{
    padding-top: 100px;
}

.paraminni{
    font-size: 14px;
    align-items: center;
}

.tableau{
    display: flex;
    flex-direction: column;
    width: 400px;
    margin-top: 50px;
    margin-left: 150px;
}

.table1, .table2, .table3{
    margin-bottom: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
     border-color: black ;
    border: 2px solid;
}

.table4{
    padding-bottom: 90px;
    padding-top: 10px;
    margin-bottom: 10px;
    border-color: black ;
    border: 2px solid;
}

.buttonend{
    background-color: black;
    color: white;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-left: 150px;
}

.mooooooo{
    display: flex;
    gap: 30px;
}

.grand{
    font-size: 24px;
}

.miroo{
    display: flex;
    gap: 20px;
    margin-left: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
}