.compétences{
    background-color: beige;
    margin-bottom: -24px;
    padding-left: 80px;
}

.sous-compétence{
    text-align: center;
}

.pourcent{
    display: flex;
    gap: 300px;
    margin-left: 350px;
    margin-bottom: 50px;
    font-size: 10px;
}
h5{
    font-size: 10px;
}
