






 @media (max-width: 768px) {body {
/*width: 700px;
height: 100vh;*/
margin-left: auto;
margin-right: auto;
background-color: beige;
font-family: "poppins";
}
}


/*.conteneur {
    width: 1000px;
    height: 200vh;
}*/

.Barre-de-navigation {
    background-color: rgb(241, 144, 16);
    display: flex;
    /*width: 850px;*/
    height: 13vh;
    justify-content: space-between;
}

span{
    color: blueviolet;
}

#mon-nom {
    color: blueviolet;
}
#mini-barre {
    display: flex;
    gap: 25px;
    padding-top: 10px;
}

#logo {
    margin-left: 80px;
}

#boutton1 {
    margin-top: 5px;
    margin-right: 80px;
    background-color: black;
    color: white;
}

#boutton2 {
    margin-top: 50px;
    margin-right: 20px;
    background-color: black;
    color: white;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    border-radius: 50px;
}


#boutton3 {
    margin-top: 50px;
    margin-right: 20px;
    background-color: white;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    border-radius: 50px;
}


.Présentation {
    display: flex;
    background-color: rgb(215, 198, 224);
}

.nom-et-autre {
    margin-left: 80px;
    margin-bottom: 50px;
    padding-top: 60px;
}

.mon-cv-et-réalisation {
    display: flex;
    gap: 50px;
}

#para1 {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.paragraphe1{
    font-size: 14px;
}

/*.sous-pre{
    display: flex;
    flex-direction: column;
}*/

.image1 {
    background-image: url();
    margin-left: 90px;
    margin-top: 35px;
    margin-bottom: -8px;
}

/*Bas-de-la-présentation*/

.Bas-de-la-présentation {
    background-color: black;
    color: white;
    margin-bottom: -20px;
    padding-top: 2px;
    padding-bottom: 60px;
    align-items: center;
    text-align: center;
}

.section-milieu {
    
    font-size: small;
}

#para2 {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.section-plus {
    display: flex;
    gap: 150px;
    margin-left: 150px;
}

.plus1 {
    font-size: 12px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    margin-top: 20px;
    margin-left: 110px;
}

#plus {
     padding: 0;
    margin: 0;
    margin-top: 2px;
    margin-bottom: -10px;
    color: rgb(201, 130, 130);
}

/* Services*/
.Services{
    background-color: white;
    color: black;
    margin-bottom: -23px;
    /*padding-left: 80px;
    padding-right: 80px;*/
}

.section-service{
    padding-left: 80px;
    padding-right: 80px;
    font-size: 14px;
}

.dic-sevice1{
    text-align: center;
    padding-top: 30px;
}

.service2{
    display: flex;
    gap: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.titre-h3{
    font-size: 25px;
}

.attribue{
    font-weight: bold;
}

/* Mes réalisations*/


/* Mes compétences */


/* Témpoignages */


/* Contactez-nous */


/* Bas du Page */
.Bas-du-Page{
background-color: black;
    color: white;
}


.Bas-du-Page1{
    display: flex;
    gap: 25px;
    padding-top: 50px;
    padding-left: 390px;
    text-align: center;
    justify-content: 100px;
    padding-bottom: -100px;
}

.moyen{
    font-weight: bold;
    margin-left: 50px;
    margin-right: 50px;
    padding-bottom: -50px;
    /* padding-top: 50px;*/
}

.Bas-du-Page2{
    display: flex;
    gap: 20px;
    margin-left: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
    color: white;
}

.maruis{
    padding-left: auto;
    padding-right: auto;
    text-align: center;
}

.maruis22{
    padding-left: 530px;

}
